/* styles.css */
body {
  font-family: 'Arial', sans-serif;
  background-color: #1c1c1c;
  color: #f2f2f2;
  margin: 0;
  padding: 0;
}

h1, h2 {
  color: #9c27b0;
  text-align: center;
}

.container {
  max-width: 900px;
  margin: 20px auto;
  padding: 20px;
}

section {
  margin-bottom: 20px;
  padding: 20px;
  background-color: #282828;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

input, textarea, select, button {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #444;
  background-color: #1c1c1c;
  color: #f2f2f2;
}

button {
  background-color: #9c27b0;
  border: none;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  transform: scale(1.05);
  background-color: #b437d1;
}

ul {
  list-style: none;
  padding: 0;
}

#preview img {
  max-width: 100px;
  margin: 10px;
}

#statsDisplay {
  text-align: center;
  color: #cfcfcf;
}
